body {
  margin: 0;
  background-image: url("https://as2.ftcdn.net/v2/jpg/06/74/00/83/1000_F_674008367_7PEdufviey7Bn9PtSad1DHOR8kcabfgh.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
